body{
    background-color: hwb(120 86% 11% / 0.555);
}

.log-containerlog-container{
    background-color: hsl(145, 78%, 55%);
        width: 300px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
        text-align: center;
      }
